<table style="width:100%">
    <tr>
      <th>Name</th>
      <th>User Name</th> 
      <th>Age</th>
      <th>Location</th>
      <th>Interests</th>
    </tr>
    <!-- <tr *ngFor="let person of localStorage"> -->
    <tr>
      <!-- <td>
      	{{person.name}}
      </td>
      <td>
      	{{person.username}}
      </td>
      <td>
      	{{person.age}}
      </td>
      <td>
      	{{person.location}}
      </td>
      <td>
      	{{person.interests}}
      </td> -->

      <td>Ashvini Kumar</td>
      <td>Ashvini</td>
      <td>24</td>
      <td>Bangalore</td>
      <td>Novels, Movies, Music</td>
    </tr>
    
  </table>