<div style="text-align:center">
  <h1>
    Welcome to {{title}}!!
  </h1>

  <!-- <p>{{formObject.name}}</p> -->


  <form>
    <div class="container">
      <input type="text" placeholder="Name" name="name" value="" id="name" required>
      <input type="text" placeholder="Username" name="username" id="username">
      <input type="number" placeholder="Age" name="age" id="age">
      <input type="text" placeholder="Location" name="location" id="location">
      <input type="text" placeholder="Interests" name="interests" id="interests">
      <button type="button" id="register" (click)="register()">Register</button>
    </div>
  </form>

  <br><br>

  <table style="width:100%">
    <tr>
      <th>Name</th>
      <th>User Name</th> 
      <th>Age</th>
      <th>Location</th>
      <th>Interests</th>
    </tr>
    <tr>
      <td>Jill</td>
      <td>Smith</td>
      <td>50</td>
      <td>50</td>
      <td>50</td>
    </tr>
    
  </table>

 </div> 

